<%= form_with(model: gossip, local: true) do |form| %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :gossip_content %>
  </div>

  <div class="field">
    <%= form.label :anonymous_author%>
    <%= form.text_area :anonymous_author, id: :gossip_anonymous_author %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
